[submodule "Vendor/Facebook"]
	path = Vendor/Facebook
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "Vendor/MKNetworkKit"]
	path = Vendor/MKNetworkKit
	url = git://github.com/MugunthKumar/MKNetworkKit.git
